.RowMain {
    /*height: calc(100vh - 180px); con footer*/
    height: calc(100vh - 120px);
    max-width: 100% !important;

  }

  .RowMain-edit{
    height: calc(100vh - 234px);
    max-width: 100% !important;
  }

  


  .thumb-vertical {

    position: relative;
    display: block;
    width: 100%;
    cursor: pointer;
    border-radius: inherit;
    border: 1px solid #BFBFBF;
    background-color: #007bff;
    height: 10px;
  opacity: 1 }

    .track-vertical {
      position: absolute;
      width: 6px;
      right: 2px;
      bottom: 2px;
      top: 2px;
      border-radius: 3px;
      background: #BFBFBF; }

  .testtest{
    opacity:1;
  
  }

  .testtest2{
    opacity:0;
  
  }
  
  .sideBarButton {
    position: absolute ;
    top: 5px; 
    left: 5px;
    z-index: 1;
    font-size: 1.2rem;
    }


 
    