.RowMain {
    /*height: calc(100vh - 180px); con footer*/
    height: calc(100vh - 120px);
    max-width: 100% !important;

  }

  .custom-scrollbars .track{
    opacity: 0;
    transition: opacity 200ms ease;
  }
  
  .custom-scrollbars:hover .track{
    opacity: 1;
  }
id
  .testtest{
    opacity:1;
  
  }

  .testtest2{
    opacity:0;
  
  }
  
  .sideBarButton {
    position: absolute ;
    top: 5px; 
    left: 5px;
    z-index: 1;
    font-size: 1.2rem;
    }


 
    