.App-Article {
   padding-right: 15px;
   padding-left: 15px;

   background: white;
   padding-top: 20px;

  }
.article-heading{
    text-align: center;

}

.article-meta{
    text-align: center;

}

.size-2 {
    font-size: 1.2rem !important;
}

.size-2:hover {
    font-size: 1.2rem !important;
}