.App-Article {
   padding-right: 15px;
   background: white;
   padding-top: 20px;
   padding-bottom: 100px;

  }
.article-heading{
    text-align: center;

}

.article-meta{
    text-align: center;

}