.App {
  background-color: #fbfbfb;
  height: 100vh;
}

.App-header {
  background-color: #2e66cf;
  height: 80px;
  color: white;
  z-index: 1031;

}

.Header-sub {
  background-color: #f6f7f8;
  border-bottom: 1px solid #dee5e8;
  height: 47px;
  color: #555;
  position: fixed;
  top: 60px;
  right: 0;
  left: 0;
  z-index: 1029;
}

.Footer-top {
  background-color: #f6f7f8;
  border-top: 1px solid #dee5e8;
  position: fixed;
  top: 85%;
  right: 0;
  left: 0;
  z-index: -2000;

}

.Footer-top {
  background-color: #f6f7f8;
  border-top: 1px solid #dee5e8;

}


.App-main {
  margin-top: 56px;

}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.quill {
padding-bottom: 30px;
}
.ql-container {
  padding-bottom: 30px;
}

.hover-azul:hover{
  background-color: #2e66cf !important;
  color: white !important;
}

.consola {
  background-color: rgb(34, 34, 34) !important;
  color: rgb(180, 154, 69) !important;
  height: 21px;

}

.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
  
}

.container {
padding-left: 0px !important;
padding-right: 0px !important;
}

.col {
padding-left: 0px !important;
padding-right: 0px !important;
}

.bb {
  background-color: #2e66cf !important;
}

.bb {
  background-color: #f6f7f8 !important;
}

.bw {
  background-color: white !important;
}






@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

