.App {
  background-color: #fbfbfb;
  height: 100vh;
}

.App-header {
  background-color: #2980b9;
  height: 80px;
  color: white;
  z-index: 1031;

}

.Header-sub {
  background-color: #f6f7f8;
  border-bottom: 1px solid #dee5e8;
  height: 47px;
  color: #555;
  position: fixed;
  top: 56px;
  right: 0;
  left: 0;
  z-index: 1029;
}

.Footer-top {
  background-color: #f6f7f8;
  border-top: 1px solid #dee5e8;
  position: fixed;
  top: 85%;
  right: 0;
  left: 0;
  z-index: -2000;

}

.Footer-top {
  background-color: #f6f7f8;
  border-top: 1px solid #dee5e8;

}


.App-main {
  margin-top: 56px;

}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.quill {
padding-bottom: 30px;
}
.ql-container {
  padding-bottom: 30px;
}

.hover-azul:hover{
  background-color: rgb(41, 128, 185) !important;
  color: white !important;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

